.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

.main-content {
  flex: 1;
}

.dashboard-content {
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );

  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 18px;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.05);
}

.card h3 {
  color: #6b7280;
  margin-bottom: 10px;
}

.card h1 {
  color: #111827;
}