.sidebar {
  width: 260px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 25px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px;
  margin-bottom: 10px;

  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

/* hover */
.sidebar li:hover {
  background: #1f2937;
}

/* ACTIVE LINK */
.link {
  text-decoration: none;
  color: white;
}

.link.active li {
  background: #4f46e5;
}