.navbar {
  height: 80px;
  background: white;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #eee;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 400px;
  background: #f3f4f6;

  padding: 12px 18px;

  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-btn {
  border: none;
  background: #f3f4f6;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
}